.TitleForClinicaldb {
    background-color: $brand-secondary;
    color: white;
    border-radius: 4px;
    margin-bottom: 2rem;
    padding: 0.5rem 0;
    .container {
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            font-size: 2rem;
            font-weight: 500;
        }
        .go-back-button {
            padding: 0.5rem;
            &:hover {
                color: $gray-2;
                cursor: pointer;
            }
            .button {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .icon {
                    font-size: 1.2rem;
                }
                .label {
                    font-size: 0.9rem;
                    margin-top: 0.4rem;
                }
            }
        }
    }
}