.FilterButtonGroup {
    margin-top: 3rem;

    .filter-buttons-container {
        width: 100%;
        margin-bottom: 0.2rem;
        .buttons-wrapper {
            width: 100%;
            padding: 0;
            button {
                transition: all 0.2;
                background-color: $brand-secondary;
                &:hover {
                    background-color: $brand-tertiary;
                }
                &.active {
                    background-color: $brand-primary;
                }
            }
        }
    }
}