.Memo {
    .memo {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        textarea {
            width: 100%;
            border-radius: 4px;
            resize: none;
            border: 0;
            background-color: $gray-1;
            font-size: 0.9rem;
            padding: 0.5rem 0.5rem;
            &:focus {
                outline: 0;
            }
            &::placeholder {
                color: $oc-gray-5;
                font-weight: 300;
            }
        }
    }

    .delete-save-button {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
        padding: 0 1rem;

        button {
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            font-size: 0.9rem;
            &:first-child {
                margin-right: 0.5rem;
            }
            &:last-child {
                background-color: $brand-tertiary;
                &:hover {
                    background-color: darken($brand-tertiary, 10%);
                }
                &:active {
                    background-color: darken($brand-tertiary, 15%);
                }
            }
        }
    }
}