.Header {
    & .line {
        background-color: red;
    }
    .navbarContainer {
        display: flex;
        justify-content: space-between;
        a {
            color: white;
        }
        .buttonsWrapper {
            .buttonSignIn, .buttonSignUp {
                color: white;
            }
        }
    }
}