.ClinicalMain {
    padding: 2rem 4rem;
    .title-container {
        margin-bottom: 2rem;
        .title {
            font-size: 1.7rem;
            font-weight: 700;
        }
    }
    .component-container {
        margin-bottom: 2rem;
    }
}